---
import Layout from "@layouts/Layout.astro"
import HeroImage from "@src/components/blog/HeroImage.astro"
---

<Layout>
  <div class="flex justify-between mt-20">
    <div class="flex flex-col justify-center">
      <div class="text-4xl">OP WELKE ENTITEITEN IS DE NIEUWE GOVERNANCE WETGEVING VAN TOEPASSING?</div>
      <div class="text-xl">Optional subtitle here</div>
    </div>
    <div class=""></div>
  </div>

  <div class="py-8">
    <p>
      Naar verwachting treedt de nieuwe governance wetgeving op 1 januari 2025 in werking. In dit hoofdstuk
      wordt toegelicht op wie de governance wetgeving van toepassing is. Daarvoor is het van belang een
      onderscheid te maken tussen de Landsverordening en de Code corporate governance. De nieuwe governance
      wetgeving bestaat namelijk uit twee onderdelen: de landsverordening is vooral gericht aan de
      beleidsverantwoordelijke minister en de Code is vooral gericht aan de desbetreffende entiteiten in de
      publieke- en semipublieke sector zelf.
    </p>
    <p>
      <strong>DE LANDSVERORDENING CORPORATE GOVERNANCE</strong>
      <strong>(LANDSVERORDENING)</strong>
    </p>
    <p>
      Vrijwel alle voorschriften in de Landsverordening corporate governance gelden primair voor de Minister
      die het aangaat (artikel 1, onderdeel g). Dit is de Minister die beslissingsbevoegdheden heeft in:
    </p>
    <ul>
      <li>
        <p>
          <strong>publiekrechtelijke rechtspersonen</strong>: bij landsverordening ingestelde rechtspersonen
          (ook wel <em>sui generis</em>
          genoemd), voor zover de Minister ter zake van governance gerelateerde onderwerpen bevoegd is. Hierbij
          gaat het zowel om de verantwoordelijkheid die de ministers op grond van de Landsverordening instelling
          ministeries 2022 (AB 2022, no. 18) hebben en de bevoegdheden die op grond van een wettelijk voorschrift
          zijn toegekend voor de rechtspersonen die op grond van bijzondere landsverordeningen zijn of worden opgericht;
        </p>
      </li>
    </ul>
    <p>(artikel 1, onderdeel h en artikel 1, j)</p>
    <ul>
      <li>
        <p>
          <strong>Overheidsvennootschappen</strong>: vennootschappen waarvan de aandelen of certificaten van
          aandelen geheel of gedeeltelijk, direct of indirect worden gehouden door het Land, inclusief
          dochtervennootschappen (ook wel overheidsnv’s) genoemd);
        </p>
      </li>
    </ul>
    <p>(artikel 1, onderdeel d en artikel 1, onderdeel i)</p>
    <ul>
      <li>
        <p>
          <strong>stichtingen en verenigingen</strong> waarvan één of meer bestuurders dan wel één of meer commissarissen
          of vergelijkbare functionarissen kunnen worden benoemd en/of ontslagen door of op voordracht van (de
          verantwoordelijke Minister) of waarvan de statuten door de verantwoordelijke Minister kunnen worden gewijzigd.
          Dergelijke stichtingen en verenigingen worden in de governance-wetgeving aangemerkt als overheidstichtingen
          en overheidsverenigingen.
        </p>
      </li>
    </ul>
    <p>(artikel 1, onderdeel h en artikel 1, j)</p>
    <blockquote>
      <p>
        Er zijn ook stichtingen zijn waarmee het Land een subsidierelatie heeft. Voor die stichtingen gelden
        de bepalingen van het onderhavig ontwerp niet rechtstreeks. De Minister beslist immers niet (mee) over
        de benoeming of het ontslag van de bestuurders of commissarissen. Overigens kan voor stichtingen die
        uitsluitend een subsidierelatie hebben met het Land, wel via de subsidievoorwaarden worden
        verwezenlijkt dat de bepalingen in het ontwerp-Landsbesluit, houdende algemene maatregelen inhoudende
        een Code corporate governance ook door deze stichtingen worden toegepast.
      </p>
    </blockquote>
    <ul>
      <li><p>andere bij of krachtens landsbesluit aangewezen rechtspersonen.</p></li>
    </ul>
    <p>
      De voorschriften van de Landsverordening gelden dus gelden primair voor de beleidsverantwoordelijke
      minister, wanneer hij beslissingsbevoegdheden heeft ter zake van bij landverordening opgerichte
      rechtspersonen of wanneer hij optreedt als vertegenwoordiger van het Land als aandeelhouder in een
      vennootschap of (mede)beleidsbepalende stakeholder in aan het Land verbonden stichtingen, verenigingen
      en andere rechtspersonen in de publieke- en semipublieke sector.
    </p>
    <p><strong>Wat zijn de verplichtingen van de beleidsverantwoordelijke minister?</strong></p>
    <p><u>Zorgplicht</u></p>
    <p>
      In de eerste plaats moet de Minister die het aangaat er voor zorgen dat alle overheidsvennootschappen,
      overheidsstichtingen en -verenigingen hun statuten aanpassen, om de Code corporate governance zoveel
      mogelijk van toepassing te verklaren (artikel 2, lid 6). Vervolgens moet hij ervoor zorgen dat deze
      entiteiten zich ook daadwerkelijk aan de bepalingen houden (artikel 2, lid 7).
    </p>
    <p>
      Bij publiekrechtelijke rechtspersonen ligt dit iets anders: de Code is direct van toepassing op
      dergelijke entiteiten (artikel 2, lid 5). Deze entiteiten moeten er zelf voor zorgen dat de interne
      organisatie aan de regels van de Code gaan voldoen
    </p>
    <p><u>Meldingsplicht</u></p>
    <p>
      In de tweede plaats zijn er allerlei handelingen en besluiten waarvoor een meldingsplicht geldt: voordat
      de Minister een handeling als vermeld in de artikelen 6 t/m 13 wil verrichten, moet hij zijn voornemen
      hiertoe melden aan de Autoriteit Corporate Governance. Het gaat hier om de volgende onderwerpen:
    </p>
    <table>
      <colgroup>
        <col style="width: 18%" />
        <col style="width: 81%" />
      </colgroup>
      <thead>
        <tr>
          <th style="text-align: center;"><strong>Artikel</strong></th>
          <th><strong>Onderwerp</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">6</td>
          <td>Dividendbeleid en dividenduitkering</td>
        </tr>
        <tr>
          <td style="text-align: center;">7</td>
          <td>Verkrijging van aandelen</td>
        </tr>
        <tr>
          <td style="text-align: center;">8</td>
          <td>Vervreemding en bezwaring van aandelen</td>
        </tr>
        <tr>
          <td style="text-align: center;">9</td>
          <td>Procedureregels en profielschets</td>
        </tr>
        <tr>
          <td style="text-align: center;">10</td>
          <td>Benoeming bestuurders en commissarissen</td>
        </tr>
        <tr>
          <td style="text-align: center;">11</td>
          <td>Ontslag bestuurders en commissarissen</td>
        </tr>
        <tr>
          <td style="text-align: center;">12</td>
          <td>Statuten</td>
        </tr>
        <tr>
          <td style="text-align: center;">13</td>
          <td>Goedkeuring van de jaarrekeningen</td>
        </tr>
      </tbody>
    </table>
    <p>
      De nieuw op te richten Autoriteit beoordeelt bij een melding of de toepasselijke statuten en wettelijke
      regels met betrekking tot de corporate governance op de juiste wijze en met inachtneming van de algemene
      beginselen van good governance zijn opgevolgd. De toets van de Autoriteit is gericht op het handelen van
      de Minister. Hiermee neemt de Autoriteit geen toezichthoudende taken over van bestaande wettelijk
      aangewezen toezichthouders, zoals de Centrale Bank van Aruba (en de beoordeling op basis van artikel 10
      ziet ook uitdrukkelijk niet op de betrouwbaarheid van kandidaat-bestuurders of – commissarissen, zoals
      de CBA verricht op basis van financiële toezichtswetgeving).
    </p>
    <p><u>Relatie met het Burgerlijk Wetboek</u></p>
    <p>
      Belangrijk is om hier ook de relatie met het Burgerlijk Wetboek van Aruba te noemen. Het
      rechtspersonenrecht wordt namelijk primair beheerst door de regels in Boek 2 van het Burgerlijk Wetboek
      (BW) van Aruba (AB 2021 no. 137). De ontwerp-Landsverordening corporate governance voorziet in
      specifieke voorschriften voor het Land in zijn hoedanigheid van aandeelhouder of stakeholder van
      rechtspersonen in de publieke- en semipublieke sector. De voorschriften in de nieuwe Landsverordening
      zijn voor de op grond van landsverordening ingestelde rechtspersonen aanvullend op de regels in het BW.
    </p>
    <p>
      De bepalingen van de Landsverordening zijn zo geformuleerd dat voor overheidsvennootschappen,
      -stichtingen en -vereniging, de bepalingen van het BW voorrang hebben. Voor publieke rechtspersonen
      geldt dat de voorschriften in het onderhavig ontwerp complementair zijn aan de corporate governance
      regels in de instellingslandsverordeningen van de op grond van publiekrecht ingestelde rechtspersonen.
    </p>
    <p>
      De in het BW of (in het geval van publiekrechtelijke rechtspersonen) in een instellings-landsverordening
      geregelde bevoegdheden voor besluitvorming in een rechtspersoon in de (semi)publieke sector worden niet
      beperkt. Het onderhavige ontwerp voorziet uitsluitend in instructienormen voor de aangewezen Minister,
      wanneer deze als vertegenwoordiger van het Land betrokken wordt in besluitvorming in een rechtspersoon
      in de publieke- en semipublieke sector. De regels van het BW gelden onverkort. Dit geldt ook voor de
      corporate governance gerelateerde regels in de instellingslandsverordeningen van publiekrechtelijke
      rechtspersonen.
    </p>
    <p><u>Wettelijke verplichting</u></p>
    <p>
      De normen in de Landverordening zijn wettelijke voorschriften, bedoeld om - vanuit de rolopvatting van
      het Land als aandeelhouder of stakeholder - bij te dragen aan de structurele verbetering van de
      corporate governance in zowel de publieke- als de semipublieke sector. De minister moet die wettelijke
      voorschriften opvolgen. Het nalaten daarvan geldt als handelen in strijd met een wettelijk voorschrift.
    </p>
    <p>
      In de Landsverordening zelf zijn geen strafbepalingen opgenomen. Sanctionering geschiedt namelijk via de
      geëigende instrumenten in Boek 2 BW. De nietigheid of vernietigbaarheid van besluiten of handelingen
      treedt in of kan worden ingeroepen wanneer een orgaan van een rechtspersoon in strijd handelt met de wet
      of de statuten. Dit houdt in dat als een besluit wordt genomen of handeling wordt verricht waarvoor de
      betrokken Minister geen advies van de Autoriteit Corporate Governance heeft gevraagd, terwijl hij
      daartoe op grond van de Landsverordening wel toe verplicht is geweest, het besluit of de handeling
      nietig of vernietigbaar is. Dit geldt ook voor dochtermaatschappijen, als de statuten conform artikel 15
      van de Landsverordening zijn aangepast en is nagelaten een voorgenomen besluit of handeling te melden
      aan de Autoriteit.
    </p>
    <p>
      Een minister die de bepalingen van de Landsverordening niet naleeft, handelt daarmee in strijd met de in
      de Staatsregeling opgenomen ambtseed- of belofte. De betrokken minister kan daar politiek en mogelijk
      zelfs in rechte op worden aangesproken. Aan het niet-opvolgen van de verplichtingen op grond van de
      Landsverordening kunnen ook politieke consequenties worden verbonden. De Minister kan door de Staten ter
      verantwoording worden geroepen voor het naleven van de wettelijke regels ter zake van zijn politieke
      verantwoordelijkheid voor besluitvorming in andere rechtspersonen in de publieke- en semipublieke
      sector. Daarbij kan de Minister onzorgvuldig of willekeurig handelen worden verweten, bijvoorbeeld als
      blijkt dat een beoordeling of advies van de Autoriteit naar het oordeel van de Staten ten onrechte of
      ontoereikend gemotiveerd niet is opgevolgd.
    </p>
    <p>
      De betrokken minister kan op grond van artikel 14 van de Landsverordening gemotiveerd afwijken van een
      beoordeling door de Autoriteit. De minister dient het voornemen tot het afwijken van een beoordeling te
      melden aan de Staten en aan de Autoriteit. Het is vervolgens aan de Staten de Minister via de aan de
      Staten toekomende bevoegdheden, de Minister ter verantwoording te roepen.
    </p>
    <p>
      In een ernstig geval kan handelen door een Minister in strijd met de wettelijke verplichtingen in deze
      landsverordening als ambtsmisdrijf ter beoordeling aan de strafrechter worden voorgelegd.
    </p>
    <p><strong>DE CODE CORPORATE GOVERNANCE (CODE)</strong></p>
    <p>
      De Code corporate governance is geregeld bij landsbesluit, houdende algemene maatregelen en heeft zijn
      wettelijke basis in artikel 3 van de Landsverordening corporate governance. In tegenstelling tot de
      Landsverordening - die vooral de beleidsverantwoordelijke ministers als normadressaat heeft - is de Code
      van toepassing op rechtspersonen in de publieke- en semipublieke sector zelf.
    </p>
    <p>De Code is van toepassing op de volgende rechtspersonen:</p>
    <ol type="a">
      <li><p>publiekrechtelijke rechtspersonen;</p></li>
      <li><p>overheidsvennootschappen, inclusief dochtervennootschappen</p></li>
      <li><p>overheidsstichtingen en -verenigingen;</p></li>
      <li><p>andere bij of krachtens landsbesluit aangewezen rechtspersonen,</p></li>
    </ol>
    <p>Voor publiekrechtelijke rechtspersonen geldt de Code rechtstreeks.</p>
    <p>
      Voor overheidsnv’s, overheidsstichtingen en -verenigingen wordt de Code van toepassing door het opnemen
      van een toepasselijkheidsbepaling in de statuten wordt ingevoerd. De minister moet ervoor zorgen, voor
      zover wettelijk en statutair mogelijk, dat de daartoe bevoegde organen van de desbetreffende
      rechtspersonen hun statuten wijzigen ten behoeve van de invoering van de Code.
    </p>
    <p>
      De rechtspersoon past de Code toe in de dagelijkse bedrijfsvoering. Dit geldt niet alleen voor de
      organen van de rechtspersoon zelf, maar ook voor andere bij de rechtspersoon verbonden personen zoals de
      Minister en de externe accountant. De Minister en de externe accountant moeten bij de uitoefening van
      hun functie in hun relatie tot de rechtspersoon de bepalingen van de Code in acht nemen.
    </p>
    <p>
      Afwijking van de Code kan geboden zijn als concrete omstandigheden van de rechtspersoon dit vergen.
      Afwijking van de Code zonder dat deze omstandigheden zich hebben voorgedaan, is niet toegestaan.
    </p>
    <p>
      De Minister bewerkstelligt dat de rechtspersoon die werkzaam is op zijn beleidsterrein, de Code naleeft.
    </p>
    <p>
      Het bestuur en de raad van commissarissen dragen de verantwoordelijkheid voor het leggen van
      verantwoording over de compliance met de Code. De hoofdlijnen van de corporate governance van de
      rechtspersoon worden jaarlijks, mede aan de hand van de bepalingen in de Code, in een afzonderlijk
      hoofdstuk in het jaarverslag van de rechtspersoon uiteengezet. In dat hoofdstuk wordt uitdrukkelijk
      aangegeven of de Code is opgevolgd en zo niet, waarom en in hoeverre daarvan is afgeweken.
    </p>
    <p>
      Als de jaarrekening wordt gecontroleerd door een externe accountant en voor zover de naleving van
      afzonderlijke bepalingen in de Code toetsbaar is, geeft de externe accountant een oordeel over de
      naleving van de Code.
    </p>
    <p>
      Afwijkingen van de Code worden behoorlijk onderbouwd en door alle organen van de rechtspersoon
      vastgelegd. Indien wordt afgeweken van de Code, dan bevat de uitleg bij afwijking in ieder geval de
      volgende elementen:
    </p>
    <ol type="a">
      <li><p>de wijze waarop is afgeweken van de Code;</p></li>
      <li><p>de redenen voor afwijking; en</p></li>
      <li>
        <p>
          voor zover van toepassing, een beschrijving van de alternatieve maatregelen die zijn genomen en een
          uiteenzetting van de wijze waarop met die maatregelen de doelstellingen van de betreffende bepaling
          in de Code zijn bereikt, of een verduidelijking van hoe die maatregelen bijdragen aan een goed
          ondernemingsbestuur van de rechtspersoon.
        </p>
      </li>
      <li><p>een tijdpad waarin de Code wordt toegepast.</p></li>
    </ol>
    <p><strong>PUBLIEKRECHTELIJKE RECHTSPERSONEN</strong></p>
    <p>
      Publiekrechtelijke rechtspersonen zijn landsverordening opgerichte rechtspersonen (ook wel: sui generis
      genoemd). In Aruba zijn de volgende publiekrechtelijke rechtspersonen ingesteld:
    </p>
    <table>
      <colgroup>
        <col style="width: 36%" />
        <col style="width: 63%" />
      </colgroup>
      <thead>
        <tr>
          <th style="text-align: left;"><strong>Entiteit</strong></th>
          <th style="text-align: left;"><strong>Landsverordening tot instelling van de enititeit</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left;">Centrale Bank van Aruba (CBA)</td>
          <td style="text-align: left;">Centrale Bankverordening (AB 1991 no. GT 32)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Volkskredietbank (VKB)</td>
          <td style="text-align: left;">Landsverordening Volkskredietbank (AB 1993 no. GT 15)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Kansspelautoriteit (in oprichting)</td>
          <td style="text-align: left;">Landsverordening toezicht kansspelen (AB 2021 no. 150)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Uitvoeringsorgaan AZV (UO AZV)</td>
          <td style="text-align: left;">Landsverordening algemene ziektekostenverzekering (AB 1992 no. 18)</td
          >
        </tr>
        <tr>
          <td style="text-align: left;">Sociale Verzekeringsbank (SVb)</td>
          <td style="text-align: left;">Landsverordening Sociale Verzekeringsbank (AB 1995 no. GT 1)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Instituto Medico San Nicolas (ImSan)</td>
          <td style="text-align: left;">Landsverordening Instituto Medico San Nicolas (AB 2005 no. 6)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Aruba Tourism Authority (ATA)</td>
          <td style="text-align: left;"
            >Landsverordening instelling Aruba Tourism Authority (AB 2011 no. 14)</td
          >
        </tr>
        <tr>
          <td style="text-align: left;">Servicio di Limpiesa di Aruba (Serlimar)</td>
          <td style="text-align: left;">Landsverordening instelling Serlimar (AB 2005 no. 5)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Universiteit van Aruba (UA)</td>
          <td style="text-align: left;">Landsverordening Universiteit van Aruba (AB 1988 no. 100)</td>
        </tr>
        <tr>
          <td style="text-align: left;">Kamer van Koophandel en Nijverheid (KvK)</td>
          <td style="text-align: left;"
            >Landsverordening op de Kamer van Koophandel en Nijverheid (AB 1990 no. 29)</td
          >
        </tr>
        <tr>
          <td style="text-align: left;">Aruba Fair Trade Authority (AFTA)</td>
          <td style="text-align: left;">Mededingingsverordening (AB 2020 no. 103)</td>
        </tr>
      </tbody>
    </table>
    <p>
      De Code corporate governance is rechtstreeks van toepassing op deze publiekrechtelijke rechtspersonen:
      er is dus geen van toepassingverklaring nodig. Zie het hoofdstuk: IMPLEMENTATIE
    </p>
    <p>
      De regels van het BW gelden onverkort. Dit geldt ook voor de corporate governance gerelateerde regels in
      de instellingslandsverordeningen van publiekrechtelijke rechtspersonen.
    </p>
    <p><strong><br /> </strong></p>
    <p><strong>OVERHEIDSVENNOOTSCHAPPEN</strong></p>
    <p>
      Overheidsvennootschappen - in de praktijk ook wel aangeduid als overheidsnv’s - zijn privaatrechtelijke
      rechtspersonen, waarin het Land (deels) aandeelhouder is of (deels) eigenaar van is. De minister die
      beleidsverantwoordelijkheid draagt voor de overheidsvennootschap, vertegenwoordigt het Land in de
      Algemene Vergadering van Aandeelhouders (AVA).
    </p>
    <p>
      Het rechtspersonenrecht is sinds 1 september 2021 geregeld in <u>Boek 2 van het Burgerlijk Wetboek</u> van
      Aruba (AB 2021 no. 137; BW:2). Boek 2 bevat in principe dwingend recht: rechtspersonen dienen aan de bepalingen
      van Boek 2 te voldoen, tenzij de wet zelf een mogelijkheid tot afwijking bevat. Handelingen en bepalingen
      die in strijd zijn met Boek 2 zijn vernietigbaar of nietig.
    </p>
    <p>
      De oprichting van een vennootschap geschiedt d.m.v. een notariële akte met daarin opgenomen de statuten
      van de vennootschap. De statuten regelen onder meer de opzet, doelstelling, bevoegdheden en
      besluitvorming binnen de vennootschap.
    </p>
    <p>
      In artikel 27 van de <u>Comptabiliteitsverordening 1989</u> (AB 1989 no. 72; CV 1989) is bepaald dat voor
      de (mede)oprichting van een privaatrechtelijke rechtspersoon een machtiging moet worden verkregen. Afhankelijk
      van het geldelijk belang wordt de machtiging verkregen bij landsverordening (artikel 27, eerste lid, als
      het geldelijk belang AWG 100.000 of meer is) of bij landsbesluit (artikel 27 tweede lid, indien het geldelijk
      belang minder dan AWG 100.000 is). De machtiging moet bovendien vooraf zijn verkregen. Gebeurt dit niet,
      dan is ingevolge artikel 31, derde lid, CV 1989, de door de desbetreffende minister verrichte rechtshandeling
      nietig.
    </p>
    <p>
      Boek 2 BW geeft geen definitie van overheidsvennootschap. In de Comptabiliteitsverordening 1989 (AB 1989
      no. 72) wordt gesproken van deelnemingen van het Land.
    </p>
    <p>In de Landsverordening- en de Code corporate governance zijn in artikel 1 wel definities opgenomen:</p>
    <p>
      overheidsvennootschap: een naamloze vennootschap of een vennootschap met beperkte aansprakelijkheid met
      statutaire zetel in Aruba, waarvan de aandelen of certificaten van aandelen deels of in het geheel,
      direct of indirect worden gehouden door het Land;
    </p>
    <p>
      dochtervennootschap: vennootschap of stichting waarin een rechtspersoon via aandeelhouderschap of
      anderszins zeggenschapsrechten uitoefent;
    </p>
    <p>Medio 2024 kent Aruba de volgende overheidsnv’s en dochtervennootschappen</p>
    <p>1. Renobacion Aruba NV</p>
    <p>2. Aruba Ports Authority NV (APA)</p>
    <p>3. Aruba Ports Development NV</p>
    <p>4. Aruba Airport Authority NV (AAA)</p>
    <p>5. Compania di Bus NV (Arubus)</p>
    <p>6 Compania Arubano di Parkeer NV (Aruparking) (dochtervennootschap Arubus NV)</p>
    <p>7. Arutram NV (dochtervennootschap Arubus NV)</p>
    <p>8. Air Navigation Services Aruba NV</p>
    <p>9. Post Aruba NV</p>
    <p>10. Servicio di Telecomunicacion di Aruba NV (SETAR)</p>
    <p>11. TeleAruba NV (dochtervennootschap SETAR NV)</p>
    <p>12. Cable Television of Aruba NV (dochtervennootschap SETAR NV)</p>
    <p>13. Free Zone Aruba NV</p>
    <p>14. Utilities NV</p>
    <p>15. ELMAR NV (dochtervennootschap Utilities NV)</p>
    <p>16. WEB NV (dochtervennootschap Utilities NV)</p>
    <p>17. Compania Arubano di Petrolero NV (CAP)</p>
    <p>18. Refineria di Aruba NV (RdA)</p>
    <p>19. Fuels Marketing &amp; Supply Aruba NV (dochtervennootschap RdA NV)</p>
    <p>20. Terminal di Energia Aruba NV (dochtervennootschap RdA NV)</p>
    <p>21. Aruba Wastewater Sustainable Solutions NV (dochtervennootschap Utilities NV)</p>
    <p>Burgerlijk Wetboek</p>
    <p>Landsverordening en Code Corporate Governance</p>
    <p>Deelnemingenbeleid overheid</p>
    <p>Dividendbeleid overheid</p>
    <p>Statuten</p>
    <p><strong><br /> </strong></p>
    <p><u>Overheidsstichtingen en verenigingen</u></p>
    <p>
      Dit zijn stichtingen en verenigingen waarvan één of meer bestuurders dan wel één of meer commissarissen
      of vergelijkbare functionarissen kunnen worden benoemd en/of ontslagen door of op voordracht van (de
      verantwoordelijke Minister) of waarvan de statuten door de verantwoordelijke Minister kunnen worden
      gewijzigd.
    </p>
    <p><u>Bij landsverordening opgerichte rechtspersonen (<em>sui generis rechtspersonen</em>)</u></p>
    <p>
      Dit zijn landsverordening opgerichte rechtspersonen en andere publiekrechtelijke entiteiten, voor zover
      de Minister ter zake van governance gerelateerde onderwerpen bevoegd is. Hierbij gaat het zowel om de
      verantwoordelijkheid die de ministers krachtens de Landsverordening instelling ministeries hebben, als
      om de bevoegdheden die krachtens wettelijk voorschrift aan de ministers zijn toegekend voor de
      rechtspersonen die krachtens bijzondere landsverordeningen zijn of worden opgericht.
    </p>
    <p>
      De Code wordt na de inwerkingtreding via de wijziging van de statuten ingevoerd in de
      overheidsvennootschappen en -stichtingen. Dit betekent dat de organen van de betrokken rechtspersoon de
      voorschriften in de Code volgens het basisprincipe van <em>comply and explain</em> zullen moeten gaan toepassen.
    </p>
    <p>
      De in een instellings-landsverordening geregelde bevoegdheden voor besluitvorming in een rechtspersoon
      in de (semi)publieke sector worden niet beperkt. De Landsverordening corporate governance voorziet
      uitsluitend in instructienormen voor de aangewezen Minister, wanneer deze als vertegenwoordiger van het
      Land betrokken wordt in besluitvorming in een rechtspersoon in de publieke- en semipublieke sector.
    </p>
    <p>PUBLIEKRECHTELIJKE RECHTSPERSONEN</p>
  </div>
</Layout>
