---
import Layout from "@layouts/Layout.astro"
import { getLocaleUrlPrefix } from "astro-i18n-aut"
import { SITE_TITLE } from "@src/consts"
import translations from "@utils/t.ts"

const localeUrlPrefix = getLocaleUrlPrefix(Astro.url)
const t = translations(Astro.url)
---

<Layout title=`404 | ${ SITE_TITLE }`>
	<section class="flex h-full items-center p-16">
		<div class="container mx-auto my-8 flex flex-col items-center justify-center px-5">
			<div class="max-w-md text-center">
				<h2 class="mb-8 text-9xl font-bold">
					<span class="sr-only">Error</span>
					<span class="">404</span>
				</h2>
				<p class="text-3xl font-semibold md:text-3xl">{t["404"]}</p>
				<p class="text-muted mb-8 mt-4 text-lg">
					{t["404-message"]}
				</p>
				<a rel="noopener noreferrer" href={localeUrlPrefix || "/"} class="btn btn-outline ml-4"
					>{t["404-back"]}</a
				>
			</div>
		</div>
	</section>
</Layout>
