---
import Layout from "@layouts/Layout.astro"
import HeroSection from "@src/components/HeroSection.astro"
---

<Layout>
  <HeroSection slot="hero-section" backgroundImageUrl="/images/hero_background.webp">
    <div class="flex justify-center">
      <h1 class="text-4xl sm:text-6xl text-base-100 dark:text-primary">CONTACT & MAILINGLIJST</h1>
    </div>
  </HeroSection>

  <h2 class="mt-3 text-2xl text-primary font-medium text-center">
    <span class="pt-1 px-1 box-decoration-clone bg-base-100/80 dark:bg-transparent">
      Bedankt voor uw bericht! We nemen zo snel mogelijk contact met u op.
    </span>
  </h2>
</Layout>