---
import Layout from "@layouts/Layout.astro"
import HeroImage from "@src/components/blog/HeroImage.astro"
---

<Layout>
  <div class="flex flex-col md:flex-row justify-between">
    <div class="flex flex-col justify-center">
      <h1 class="text-6xl">Corporate Governance</h1>
      <h2 class="">Est duis cillum fugiat voluptate ad ullamco dolore.</h2>
    </div>
    <div class="w-full">
      <HeroImage
        class="mb-2 w-full rounded-lg"
        src="/images/hero_image_transparent.png"
        alt="hero image"
        width="100%"
        height="100%"
      />
    </div>
  </div>

  <div class="py-8">
    <h3 class="mb-6">
      Welkom op de Corporate Governance website van Aruba, gericht op de publieke- en semipublieke sector van
      het Land.
    </h3>

    <p class="mb-4">
      Op deze website vindt u allerlei informatie die te maken heeft met de introductie van de
      Landsverordening en de Code corporate governance, die per 1 januari 2025 in werking zullen treden. Deze
      nieuwe governance-wetgeving heeft tot doel om de corporate governance binnen de rechtspersonen in de
      publieke- en semipublieke sector van Aruba te versterken.
    </p>

    <p class="mb-4">
      De Arubaanse overheid wil die entiteiten niet alleen 'de wet voorschrijven', maar ook een helpende hand
      bieden. Vandaar deze website waarop belanghebbenden alles kunnen vinden wat nodig om concreet aan de
      slag te gaan.
    </p>

    <p class="mb-4">
      Ook zullen <em class="font-italic">best practices</em> uit de praktijk worden gedeeld en bestaat er de mogelijkheid
      om een interactieve E-learning te volgen. Deelnemers krijgen de code op interactieve wijze uitgelegd, geïllustreerd
      met voorbeelden en casussen uit de praktijk.
    </p>

    <p class="mb-4 font-semibold">Bent u bijvoorbeeld benieuwd:</p>
    <ul class="list-disc pl-8 mb-4 space-y-2">
      <li>hoe de nieuwe wetgeving eruit zal zien?</li>
      <li>op welke entiteiten de nieuwe Code van toepassing is?</li>
      <li>hoe u de Code kunt implementeren in uw organisatie?</li>
      <li>
        welke concrete <em class="font-italic">guidance</em> beschikbaar is in de vorm van en model profielen,
        -reglementen en -codes?
      </li>
      <li>welke opleidingen en trainingen er zijn?</li>
    </ul>

    <p class="mb-4">Op deze website vindt u het antwoord.</p>

    <p class="mb-4">We nodigen u van harte uit een ontdekkingsreis te maken.</p>

    <p class="mb-4">
      Heeft u aanvullende opmerkingen of vragen, dan kunt u ons bereiken via de <a
        href="/contact"
        class="link"
      >
        contactpagina
      </a>.
    </p>
  </div>
</Layout>
