---
import Layout from "@layouts/Layout.astro"
import HeroImage from "@src/components/blog/HeroImage.astro"
---

<Layout>
  <div class="flex flex-col md:flex-row justify-between">
    <div class="flex flex-col justify-center">
      <h1 class="text-6xl">Corporate Governance</h1>
      <h2 class="text-secondary">Est duis cillum fugiat voluptate ad ullamco dolore.</h2>
    </div>
    <div class="w-full">
      <HeroImage
        class="mb-2 w-full"
        src="/images/hero_image_transparent.png"
        alt="hero image"
        width="100%"
        height="100%"
      />
    </div>
  </div>

  <div class="py-4 sm:py-8">
    <div class="space-y-4">
      <h2 class="">Welkom op de corporate governance website van Aruba.</h2>

      <p>
        Op deze website vindt u allerlei informatie die te maken heeft met de introductie van de
        Landsverordening en de Code corporate governance, die naar verwachting in het eerste kwartaal van 2025
        in werking zullen treden. Deze nieuwe governance wetgeving heeft tot doel om de corporate governance
        binnen de rechtspersonen in de publieke- en semipublieke sector van Aruba te versterken.
      </p>

      <p>
        De Arubaanse overheid wil die entiteiten niet alleen ‘de wet voorschrijven’, maar ook een helpende
        hand bieden. Vandaar deze website waarop belanghebbenden alles kunnen vinden wat nodig om concreet aan
        de slag te gaan.
      </p>

      <p class="font-semibold">Bent u bijvoorbeeld benieuwd:</p>
      <ul class="list-disc pl-8 mb-4 space-y-2">
        <li>hoe de nieuwe wetgeving eruit zal zien?</li>
        <li>op welke entiteiten de nieuwe Code van toepassing is?</li>
        <li>hoe u de Code kunt implementeren in uw organisatie?</li>
        <li>
          welke concrete <em class="font-italic">guidance</em> beschikbaar is in de vorm van en model profielen,
          -reglementen en -codes?
        </li>
        <li>welke opleidingen en trainingen er zijn?</li>
      </ul>

      <p>Op deze website vindt u het antwoord.</p>

      <p>We nodigen u van harte uit een ontdekkingsreis te maken.</p>

      <p>
        Heeft u opmerkingen of vragen, dan kunt u ons bereiken via de <a href="/contact" class="link">
          contactpagina
        </a>.
      </p>
    </div>

    <div class="mt-20 space-y-4">
      <h2>Implementatieteam corporate governance (IT)</h2>

      <p class="">
        Het Implementatieteam is per 1 juni 2024 ingesteld om de invoering en de implementatie van de nieuwe
        governance-wetgeving voor te bereiden.
      </p>

      <p class="font-semibold">Tot de taken van het IT horen:</p>
      <ol class="list-[lower-alpha] pl-8 space-y-2">
        <li>
          het uitwerken van een stappenplan voor de implementatie van de Landsverordening en de Code Corporate
          Governance, voor het Land als aandeelhouder van overheidsvennootschappen of stakeholder bij
          stichtingen en publiekrechtelijke rechtspersonen (sui generis entiteiten), en voor de entiteiten in
          de publieke- en semipublieke sector, inclusief een op kleine stichtingen gerichte stappenplan;
        </li>
        <li>het opstellen van modelstatuten, -profielen, -reglementen en -codes;</li>
        <li>
          het bevorderen van efficiënte, tijdige en volledige voorziening en terbeschikkingstelling van de
          relevante corporate governance documenten en informatie van rechtspersonen in de publieke- en
          semipublieke sector aan de aandeelhouder of stakeholder, en de raden van commissarissen of de raden
          van toezicht van de betreffende entiteit;
        </li>
        <li>
          de stakeholders voorzien van de nodige kennis en informatie ten behoeve van de implementatie van
          (nieuwe) corporate governance regels;
        </li>
        <li>
          dialoog en samenwerking aangaan met de betrokken entiteiten ter bevordering van de implementatie van
          de Landsverordening en de Code, en als aanspreekpunt voor de betrokken entiteiten fungeren omtrent
          de implementatie van (nieuwe) corporate governance regels;
        </li>
        <li>
          het opstellen van werkafspraken (bijvoorbeeld een protocol) met de Arubaanse Vereniging voor
          Accountants ten behoeve van de beoordeling van compliance van de Code en de stapsgewijze
          implementatie van de Code;
        </li>
        <li>
          het bevorderen van aan corporate governance-gerelateerde transparantie in de publieke- en
          semipublieke sector;
        </li>
        <li>
          het voorbereiden van de opzet van de op te richten Autoriteit Corporate Governance, waaronder een
          inrichtingsplan (bezettingsplan, profielen, interne governance structuur).
        </li>
      </ol>

      <p>
        Het Implementatieteam is bevoegd de betrokken ministers gevraagd en ongevraagd te adviseren over
        kwesties die van belang worden geacht betreffende de implementatie van corporate governance-regels.
      </p>

      <p>
        Zodra de Autoriteit Corporate Governance is ingesteld, zal deze de taken van het Implementatieteam
        overnemen.
      </p>

      <p>Het Implementatieteam is bereikbaar via de Contact pagina.</p>
    </div>
  </div>
</Layout>
