---
import { DARK_THEME } from "@src/consts"

let { class: className } = Astro.props
---

<label class=`${className} grid cursor-pointer place-items-center`>
  <input
    id="theme-toggle"
    type="checkbox"
    value={DARK_THEME}
    class="toggle theme-controller bg-base-content col-span-2 col-start-1 row-start-1"
  />
  <svg
    class="stroke-base-100 fill-base-100 col-start-1 row-start-1"
    xmlns="http://www.w3.org/2000/svg"
    width="14"
    height="14"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <circle cx="12" cy="12" r="5"></circle>
    <path
      d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
    >
    </path>
  </svg>
  <svg
    class="stroke-base-100 fill-base-100 col-start-2 row-start-1"
    xmlns="http://www.w3.org/2000/svg"
    width="14"
    height="14"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
  </svg>
</label>

<script>
  import { LIGHT_THEME, DARK_THEME } from "@src/consts"

  document.addEventListener("DOMContentLoaded", () => {
    console.log("DOMContentLoaded")
    // const themeToggle = document.getElementById("theme-toggle")
    const themeToggle = document.querySelector("#theme-toggle")
    console.log("themeToggle", themeToggle)

    if (!themeToggle) {
      console.error("Element with ID 'theme-toggle' not found.")
      return
    }

    // Set initial state based on localStorage
    if (localStorage.getItem("theme") === DARK_THEME) {
      themeToggle.checked = true
    }

    themeToggle.addEventListener("change", (event) => {
      console.log("Theme changed")
      if (event.target.checked) {
        localStorage.setItem("theme", DARK_THEME)
        document.documentElement.setAttribute("data-theme", DARK_THEME)
      } else {
        localStorage.setItem("theme", LIGHT_THEME)
        document.documentElement.setAttribute("data-theme", LIGHT_THEME)
      }
    })

    console.log("Event listener attached to themeToggle")
  })
</script>
