---
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts"
import Layout from "@layouts/Layout.astro"
import Title from "@src/components/blog/BlogHeader.astro"
import HeroSection from "@src/components/HeroSection.astro"

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <HeroSection slot="hero-section" backgroundImageUrl="/images/hero_background.webp">
    <div class="flex flex-col md:flex-row justify-between">
      <h1 class="w-full text-5xl text-center text-base-100 dark:text-primary">{frontmatter.title}</h1>
    </div>
  </HeroSection>
  <article id="markdown-content" class="prose space-y-4">
    <slot />
  </article>
</Layout>

<style>
  /* This is the first h2 element in the markdown content */
  :global(#markdown-content > h2:first-of-type) {
    /* @apply pt-10 font-semibold; */
  }

  :global(#markdown-content > h2) {
    @apply pt-10 font-semibold;
  }

  /* Add spacing between columns and border around the table */
  :global(#markdown-content > table) {
    @apply my-10 sm:px-10 w-full block sm:inline-table overflow-x-auto whitespace-nowrap table-auto text-left outline outline-1 rounded min-w-full;
  }

  :global(#markdown-content > table thead) {
    @apply p-2 bg-secondary text-base-100 dark:text-primary;
  }

  :global(#markdown-content > table th, td) {
    @apply p-2 border-b border-secondary/20 whitespace-normal;
  }

  :global(#markdown-content > table th) {
    @apply border-r border-primary;
  }

  /* Remove right border from the last column */
  :global(#markdown-content > table th:last-child) {
    @apply border-r-0;
  }

  :global(#markdown-content > table ul) {
    @apply list-disc pl-4;
  }

  /* Target all links except in TOC */
  :global(#markdown-content a:not(.toc a)) {
    @apply link;
  }

  html {
    /* @apply scroll-pt-44 lg:scroll-pt-5; */
  }
</style>
