---
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts"
import Layout from "@layouts/Layout.astro"
import Title from "@src/components/blog/BlogHeader.astro"
import HeroSection from "@src/components/HeroSection.astro"

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <HeroSection slot="hero-section" backgroundImageUrl="/images/hero_background.webp">
    <div class="flex flex-col md:flex-row justify-between mt-16 md:mt-28">
        <h1 class="w-full text-5xl text-center text-base-100 dark:text-primary">{frontmatter.title}</h1>
    </div>
  </HeroSection>
  <article class="">
    <div id="markdown-content" class="prose mx-auto max-w-screen-md space-y-4 px-4">
      <slot />
    </div>
  </article>
</Layout>

<style>
  :global(#markdown-content > h2) {
    @apply pt-20 font-semibold;
  }

  :global(#markdown-content > table) {
    @apply my-10 mx-5 text-left outline outline-1 rounded overflow-hidden; /* Add spacing between columns and border around the table */
  }

  :global(#markdown-content > table thead) {
    @apply p-2 bg-secondary text-base-100 dark:text-primary;
  }

  :global(#markdown-content > table th, td) {
    @apply p-2 border-b border-secondary/20;
  }

  :global(#markdown-content > table th) {
    @apply border-r border-primary;
  }

  :global(#markdown-content > table th:last-child) {
    @apply border-r-0; /* Remove right border from the last column */
  }

  :global(#markdown-content > table ul) {
    @apply list-disc pl-4;
  }

  :global(#markdown-content a:not(#toc a)) {
    @apply link; /* Target <a> elements within #markdown-content except in child component FloatingTOC */
  }

  html {
    @apply scroll-pt-44 lg:scroll-pt-5;
  }
</style>
